venv/
*.pyc
dependencies/
.vscode/
flexibox.egg-info/
dist/
build/
TestFunction/geckodriver.log
releaseCode/config
TestFunction/UnitTest/.coverage
todo.md
notes.md
RELEASENOTES.md
TestFunction/RegressionTest/geckodriver.log
.idea/
docker.pub
